.courses{
    nav{
        display: flex;
        width: 100%;
        justify-content: flex-end;
        background-color: rgb(240, 238, 238);
        a{
            width: 20%;
            text-align: center;
            color: #000;
            padding: 30px 0;
            font-size: 20px;
            @media screen and (min-width: 600px){
                width: 25%;
            }
            .subject{
                @media screen and (min-width: 200px) {
                    display: none;
                }
                @media screen and (min-width: 600px){
                    font-size: 18px;
                    display: flex;
                    justify-content: center;
                }
            }
            .icon{
                @media screen and (min-width: 600px){
                    display: none;
                }
            }
        }
    }
    section{
      &.technology{
        .container{
            padding: 0;
            .row{
                .col-3{
                    .btn_group{
                        button{
                            width: 100%;
                            margin-top: 10px;
                            .title{
                                @media screen and (min-width: 200px) {
                                    display: none;
                                }
                                @media screen and (min-width: 600px){
                                    font-size: 18px;
                                    display: flex;
                                    justify-content: center;
                                }
                            }
                            .icon{
                                @media screen and (min-width: 600px){
                                    display: none;
                                }
                            }
                        }
                    }
                }
                .col-9{
                    overflow-x: auto;
                }
            }
        }
      }
    }
}



